button.no-style {
	appearance: none;
	display: inline-block;

	margin: 0;
	padding: 0;
	min-height: unset;
	min-width: unset;

	font-family: inherit;
	font-size: calc(var(--unit) * 2.25);
	font-weight: normal;
	font-variation-settings: "wght" 400;
	color: inherit;
	text-align: left;

	border-radius: 0;
	border: none;
	background-image: none;
	background-color: transparent;

	transition: all 0.3s ease;
	user-select: none;
}

.button,
button:not(.no-style) {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: var(--unit);
	padding: var(--unit) calc(var(--unit) * 2);
	min-height: 3rem;
	min-width: 10rem;

	font-family: "Inter", sans-serif;
	font-size: calc(var(--unit) * 2);
	font-weight: normal;
	font-variation-settings: "wght" 600;
	line-height: 1;
	text-decoration: none;
	color: var(--color-default);

	border-radius: 3px;
	border: none;
	background: none;

	transition: all 0.3s ease;
	backface-visibility: hidden;
	will-change: transform;
	transform-style: preserve-3d;
}

.button,
button:not(.no-style) {
	background-color: hsl(var(--_color-action-primary));
	box-shadow: var(--shadow-md);
	outline: 1px dashed transparent;
	outline-offset: calc(var(--unit) * 0.5);
	color: var(--main-bg);
}

.button:hover,
button:not(.no-style):hover {
	box-shadow: var(--shadow-lg);
	transform: scale(1.125) translateZ(0) perspective(1px); /*  50.4 */
}

.button:active,
button:not(.no-style):active {
	box-shadow: var(--shadow-sm), rgba(255, 255, 255, 0.1) 0 0 0 100rem inset;

	transform: scale(1) translateY(0.125rem) translateZ(0) perspective(1px);
}

.button:focus,
button:focus {
	outline: 1px dashed transparent;
	outline-offset: calc(var(--unit) * 0.5);
}

.button:focus:not(:active),
button:focus:not(:active) {
	outline-color: #869dd2;
}

/*
 * Primary
 */

.button.primary,
button[type="submit"]:not(.no-style),
button.primary {
	color: var(--main-fg);
	background-color: var(--interaction-primary-idle);
}
/* 
.button.primary:hover,
button[type="submit"]:not(.no-style):hover,
button.primary:hover {
}

.button.primary:active,
button[type="submit"]:not(.no-style):active,
button.primary:active {
}

.button.primary:focus,
button[type="submit"]:not(.no-style):focus,
button.primary:focus {
}
*/
