progress {
	appearance: none;

	margin: var(-unit);
	padding: 0;
	height: var(--unit);
	background: transparent;
	border-radius: calc(var(--unit) / 2);
	overflow: hidden;
	border: 1px solid var(--color-disabled);
}

progress::-webkit-progress-inner-element {
}

progress::-webkit-progress-bar {
	background: rgba(0, 0, 0, 0.1);
}

progress::-webkit-progress-value {
	background: var(--color-muted);
	transition: all 0.3s ease;
}

progress:indeterminate {
}
