ol,
ul {
	margin: 0 0 calc(var(--unit) * 4) 0;
	padding: 0;
	list-style-position: outside;
}

ol,
ul {
	list-style: none;
}

ol > li,
ul > li {
	position: relative;
}

ul ul {
	padding-left: calc(var(--unit) * 4);
}

ol ol {
	padding-left: calc(var(--unit) * 4);
}

ol {
	counter-reset: section;
}

ul > li::before {
	position: absolute;
	left: calc(var(--unit) * -4);
	top: 1em;
	content: "•";
	color: var(--color-any-1);
}

ol > li::before {
	position: absolute;
	left: calc(var(--unit) * -4);
	top: 1em;
	counter-increment: section;
	content: counter(section) ".";
	color: var(--color-any-1);
}

/*
 * No bullets   
 */

nav > ul,
nav > ol,
.no-style {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav > ul > li,
nav > ol > li,
.no-style > li {
	margin: 0;
	padding: 0;
	position: static;
}

nav > ul > li::before,
nav > ol > li::before,
.no-style > li::before {
	content: none;
}
