:root {
	/* Base */
	--color-background: var(--main-bg);
	--color-foreground: var(--main-fg);
	--color-background-dark: rgba(0, 0, 0, 0.3);

	/* Navigation */
	--color-tabs-inactive: rgba(255, 255, 255, 0.6);
	--color-tabs-active: var(--color-foreground);

	/* Inputs */
	--color-todo-checkbox-background-idle: var(--color-background-dark);
	--color-todo-checkbox-background-checked: var(--color-active);
	--color-todo-checkbox-border: hsla(var(--_color-inactive), var(--opacity-sm));

	/* Command */
	--color-command-background: #36363a;
	--color-command-foreground: #e6f1a2;
	--color-commmand-active-foreground: white;
	--color-commmand-active-backgorund: rgba(134, 157, 210, 0.1);
}

.theme-light {
	--main-bg: #f4f1d3;
	--main-fg: #29201c;
	--color-background-dark: rgba(0, 0, 0, 0.03);

	--color-tabs-inactive: hsl(18, 19%, 40%);
	/*--color-todo-checkbox-border: #7ee461;*/
	--_color-inactive: 18, 17%, 47%;

	--color-todo-checkbox-background-idle: rgba(255, 255, 255, 0.9);
}
