@import "./../../the_css/the_css.css";
@import "./colors.css";

.app-login {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: 8vh;
}

.app-login-content {
	flex: 0 0 auto;
	text-align: center;
}

.app-login .app-logo {
	display: block;
	margin: 0 auto calc(var(--unit) * 2) auto;
}

.app-login .app-logo svg {
	width: 130px;
	height: auto;
}

.app-login .app-logo path {
	fill: #fefff7;
}

/* Main layout */

.view {
	display: flex;
	flex: 1 1 auto;
}

.view-col {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

#app {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	width: 100%;
}

.app-main {
	flex: 1 1 0;
	display: flex;
	overflow: auto;
	padding-top: calc(var(--unit) * 8);
}

.app-editor {
	display: flex;
	flex: 1 1 auto;
	padding-bottom: calc(var(--unit) * 4);
}

.app-status {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: calc(var(--unit) / 2) calc(var(--unit) / 1);
	background: rgba(50, 100, 250, 0.6);
	font-size: calc(var(--unit) * 1.5);
	color: rgba(255, 255, 255, 0.8);
}

.app-status .app-logo svg {
	width: auto;
	height: 10px;
}

.app-status .app-logo path {
	fill: #fefff7;
}

.app-header .logo {
	flex: 0 0 auto;
	width: 120px;
	height: auto;
	margin: 0 0 calc(var(--unit) / 2) 0;
}

.ProseMirror:focus {
	outline: none;
}

/* 
 * Todo lists
*/

ul[data-type="todo_list"] > li::before {
	content: none;
}

/*
li[data-type="todo_item"] {
	--font-size: calc(var(--unit) * 2.25);
    --line-height: calc(var(--unit) * 4); /* 1.28 */
/*
	--line-height-percentage: calc(4 / 2.25);
	--cap-height: 0.7;
	--offset: calc(var(--font-size) * (var(--line-height-percentage) - var(--cap-height)) / 2);

	position: relative;
	list-style: none;
	padding-top: var(--offset);
	padding-bottom: calc(var(--unit) * 2 - var(--offset));
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-variation-settings: "wght" 250;

	min-height: calc(var(--unit) * 6);
}
*/

li[data-type="todo_item"] input[type="checkbox"] {
	position: absolute;
	top: 0.4em;
	left: calc(var(--unit-fluid) * -7);
	background-color: var(--color-todo-checkbox-background-idle);
	border-color: var(--color-todo-checkbox-border);
}

li[data-type="todo_item"] input[type="checkbox"]:checked {
	background-color: var(--color-todo-checkbox-background-checked);
}

li[data-type="todo_item"] input[type="checkbox"]:focus {
	outline: 1px dashed transparent;
	outline-offset: 0.25rem;
	outline-color: #869dd2;
}

.todo-content {
	margin-bottom: 0;
}

/*
 * Command
 */

.app-command {
	position: fixed;
	top: var(--unit);
	left: 50%;
	transform: translateX(-50%);
	min-width: calc(var(--unit) * 85);
	max-width: 95vw;

	background: var(--color-command-background);
	border-radius: 2px;

	color: var(--color-command-foreground);
	box-shadow: rgba(0, 0, 0, 0.25) 0 15px 35px;
}

input.app-command-input {
	display: block;
	box-shadow: none;
	border: none;
	background: transparent;
	font-family: var(--font-monospace);
	font-size: calc(var(--unit) * 2.25);
	color: var(--color-command-foreground);
	padding: calc(var(--unit) * 2);
}

input.app-command-input:focus {
	outline: none;
}

.app-command-results {
	padding: 0;
	list-style: none;
}

.app-command-results > li {
	margin: 0;
	padding: 0;
}

.app-command-results > li > button {
	padding: calc(var(--unit) * 2.5) calc(var(--unit) * 4);
	font-size: calc(var(--unit) * 2);
	font-family: var(--font-monospace);
	display: block;
	width: 100%;
}

.app-command-results > li > button.is-active {
	color: var(--color-commmand-active-foreground);
	background: var(--color-commmand-active-backgorund);
}

.app-command-results > li:last-child > button {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

/*
 * App Header
 */

.app-header {
	--font-size: calc(var(--unit) * 1.75);
	--line-height: calc(var(--unit) * 2);
	--line-height-percentage: calc(2 / 1.75);
	--cap-height: 0.7;
	--offset: calc(var(--font-size) * (var(--line-height-percentage) - var(--cap-height)) / 2);

	flex: 0 0 auto;
	/* box-shadow: rgba(0,0,0, 0.75) 0 -0.5px 0 0 inset; */
	background-color: var(--color-background-dark);

	display: flex;
	align-items: stretch;
	justify-content: stretch;
	height: calc(var(--unit) * 5);
	/*padding-top: var(--offset);*/
}

.tabs {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
}

.tabs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-start;
}

.tabs li {
	display: flex;
	flex: 0 0 auto;
	margin: 0 1px;
}

.tabs a {
	display: flex;
	align-items: center;
	margin: 0;
	/*padding: calc(var(--unit) * 1 + var(--offset)) calc(var(--unit) * 2) calc(var(--unit) * 1);*/
	padding: 0 calc(var(--unit) * 2);
	color: var(--color-tabs-inactive);
	font-variation-settings: "wght" 400;
	font-size: var(--font-size);
	line-height: var(--line-height);
	border-bottom: 1px solid transparent;
	text-decoration: none;
}

/*
.tabs li:not(:first-child):not(.is-active) {
    box-shadow: rgba(0, 0, 0, 0.25) 0.5px 0 0 0 inset;
}

.tabs li:last-child:not(.is-active) {
    box-shadow: rgba(0, 0, 0, 0.25) 0.5px 0 0 0 inset, rgba(0, 0, 0, 0.25) -0.5px 0 0 0 inset;
}

.tabs li.is-active + li {
    box-shadow: none !important;
}
*/

.tabs li a.router-link-exact-active {
	background: var(--color-background);
	color: var(--color-tabs-active);
	/* border-color: #6BE548; */
}

.tabs li a:focus {
	outline: none;
}

.tabs li a:not(.router-link-exact-active):focus,
.tabs li a:not(.router-link-exact-active):hover {
	color: var(--color-foreground);
}

.tabs li a:focus:active {
	outline: none;
}

.tabs .todos-link {
	flex: 0 0 auto;
	justify-self: flex-end;
}
