@import "./../../the_css/the_css.css";

.app-header {
    margin: 0 0 calc(var(--v-unit) * 2) 0;
    padding: calc(var(--v-unit) * 2) 0 0 0;
    box-shadow: white 0 -0.5px 0 0 inset;
    min-height: calc(var(--v-unit) * 2);
    display: flex;
    align-items: baseline;

}

.app-header .logo {
    
    width: 110px;
    height: auto;
    margin: 0 0 calc(var(--v-unit) / 2) 0;
}

.app-header .logo path {
    fill: var(--main-fg);
}

.ProseMirror:focus {
    outline: none;
}