.tag {
	background: hsla(var(--_color-neutral-2), 0.1);
	border-radius: 2px;
	font-family: var(--font-monospace);
	font-weight: 400;
	font-size: calc(var(--unit) * 2);
	color: hsla(var(--_color-neutral-2), 1);

	padding: calc(var(--unit) * 0.5) calc(var(--unit) * 1);
	white-space: nowrap;
	letter-spacing: 0.05em;
}

.suggestion-list {
	padding: 0.2rem;
	border: 2px solid rgba(0, 0, 0, 0.1);
	font-size: 0.8rem;
	font-weight: bold;
}
.suggestion-list__no-results {
	padding: 0.2rem 0.5rem;
}
.suggestion-list__item {
	border-radius: 5px;
	padding: 0.2rem 0.5rem;
	margin-bottom: 0.2rem;
	cursor: pointer;
}
.suggestion-list__item:last-child {
	margin-bottom: 0;
}
.suggestion-list__item.is-selected,
.suggestion-list__item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.suggestion-list__item.is-empty {
	opacity: 0.5;
}

.tippy-box[data-theme~="dark"] {
	background-color: black;
	padding: 0;
	font-size: 1rem;
	text-align: inherit;
	color: white;
	border-radius: 5px;
}
