.tag,
button.tag {
	background: hsla(var(--_color-neutral-2), 0.1);
	border-radius: 2px;
	font-family: var(--font-monospace);
	font-weight: 400;
	font-size: calc(var(--unit) * 2);
	color: hsla(var(--_color-neutral-2), 1);

	padding: calc(var(--unit) * 0.5) calc(var(--unit) * 1);
	white-space: nowrap;
	letter-spacing: 0.05em;
	border: 1px solid transparent;
}

.tag.outline {
	background: transparent;
	border-color: hsla(var(--_color-fg-muted), 0.4);
	color: hsla(var(--_color-fg-muted), 1);
}

.tag.is-active {
	background: hsla(var(--_color-neutral-2), 0.1);
	color: hsla(var(--_color-neutral-2), 1);
	border-color: transparent;
}

.suggestion-list {
	padding: 0;
	border: none;
	font-size: calc(var(--unit) * 2);
	font-weight: 500;
	background: var(--color-command-background);
	border-radius: 2px;

	color: var(--color-command-foreground);
	box-shadow: var(--shadow-overlay);
	min-width: calc(var(--unit) * 20);
}
.suggestion-list__no-results {
	padding: var(--unit);
}
.suggestion-list__item {
	display: flex;
	align-items: center;
	width: 100%;

	padding: calc(var(--unit) * 1) calc(var(--unit) * 2);
	min-height: calc(var(--unit) * 6);
	font-size: calc(var(--unit) * 2);
	font-family: var(--font-monospace);

	cursor: pointer;
}
.suggestion-list__item:first-child {
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.suggestion-list__item:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
.suggestion-list__item.is-selected,
.suggestion-list__item:hover {
	color: var(--color-commmand-active-foreground);
	background: var(--color-commmand-active-background);
}

.suggestion-list__item.is-empty {
	opacity: 0.5;
}

.tippy-box[data-theme~="dark"] {
	background-color: black;
	padding: 0;
	font-size: 1rem;
	text-align: inherit;
	color: white;
	border-radius: 5px;
}
