:root {
	/*
     * Private
     */

	--_color-default: 69, 75%, 89%;

	--_color-action-primary: 238, 77% 55%;

	--_color-inactive: 68, 74%, 79%;

	--color-default: hsl(var(--_color-default));
	--color-emphasised: hsl(68, 74%, 79%);
	--color-muted: #b8c468;

	--color-good: hsl(134, 86%, 66%);
	--color-worrying: #fdbb57;
	--color-bad: #db784d;

	--color-action-primary: hsl(--_color-action-primary);
	--color-action-secondary: #363de5;
	--color-action-neutral: #5ac8fa;
	--color-action-muted: #e6f1a2;

	--color-inactive: hsl(var(--_color-inactive));
	--color-active: var(--color-good);
	--color-disavled: #6d7155;

	--color-any-1: #f89fe5;
	--color-any-2: #7d9b40;
	--color-any-3: #e7f677;

	--main-bg: #29201c;
	--main-fg: var(--color-default);

	--opacity-none: 0;
	--opacity-xs: 0.2;
	--opacity-sm: 0.4;
	--opacity-md: 0.5;
	--opacity-lg: 0.6;
	--opacity-xl: 0.7;
	--opacity-full: 1;

	/*
     * Interaction
     */

	--interaction-primary-idle: hsla(238, 75%, 50%, 1);
	--interaction-primary-hover: hsla(238, 75%, 55%, 1);
	--interaction-primary-active: hsla(238, 75%, 45%, 1);
	--interaction-primary-focus: hsla(238, 75%, 45%, 1);

	--interaction-neutral-idle: hsla(68, 100%, 90%, 1);
	--interaction-neutral-hover: hsla(68, 100%, 95%, 1);
	--interaction-neutral-active: hsla(68, 100%, 90%, 1);
	--interaction-neutral-focus: hsla(68, 100%, 90%, 1);

	/*
     * Links
     */

	--active-indicator: 1px dashed hsla(22, 46%, 67%, 1);

	/*
     * Inputs
     */

	--input-bg-idle: hsla(0, 0%, 0%, 0.1);
	--input-bg-hover: hsla(0, 0%, 0%, 0.3);
	--input-bg-focus: hsla(0, 0%, 0%, 0.3);
	--input-bg-active: var(--input-bg-focus);
	--input-bg-valid: hsla(0, 0%, 0%, 0.1);
	--input-bg-invalid: hsla(8, 72%, 62%, 0.1);
	--input-bg-disabled: hsla(0, 16%, 10%, 1);

	--input-border-idle: 1px solid hsla(55, 60%, 89%, 0.4);
	--input-border-hover: 1px solid hsla(55, 60%, 89%, 0.7);
	--input-border-focus: 1px solid hsla(55, 60%, 89%, 1);
	--input-border-active: var(--input-border-focus);
	--input-border-valid: hsla(68, 100%, 30%, 0.7);
	--input-border-invalid: border 2px solid hsla(8, 72%, 62%, 0.1);
	--input-border-disabled: none;
}
