
.col-2 {
    width: calc(var(--unit-fluid) * var(--grid-width) * 3);
}


.col-3 {
    width: calc(var(--unit-fluid) * var(--grid-width) * 3);
}


.container {
    margin: 0 auto;
    padding: 0 calc(var(--unit-fluid) * 2);
    max-width: var(--view-max-width);
    width: 100%;
}

html.toggle-grid::after {
    content: "";
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 50%;
    max-width: var(--view-max-width);
    width: 100%;
    min-height: 100%;
    transform: translateX(-50%);
    pointer-events: none;

    background-image: 
        linear-gradient(to bottom, 
            hsla(55, 60%, 89%, .1) 1px, 
            transparent 1px),
        linear-gradient(to right, 
            hsla(55, 60%, 89%, .1) 1px, 
            transparent 1px);
    background-position: -0.5px 0;
    background-size: var(--unit-fluid) var(--unit);
}