:root {
    --unit: min(1.25vw, 1rem);
    --unit-half: calc(var(--unit) / 2);
    --unit-quarter: calc(var(--unit) / 4);
    --unit-eight: calc(var(--unit) / 8);
    --unit-sixteenth: calc(var(--unit) / 16);

    --unit-2: calc(var(--unit) * 2);
    --unit-3: calc(var(--unit) * 3);
    --unit-4: calc(var(--unit) * 4);
    --unit-6: calc(var(--unit) * 6);
    --unit-8: calc(var(--unit) * 8);
    --unit-12: calc(var(--unit) * 12);
    --unit-16: calc(var(--unit) * 16); 

    --v-unit: 1rem;
    --v-unit-half: var(--unit-v) / 2;
    --v-unit-quarter: var(--unit-v) / 4;


}
