:root {
    --unit: 1rem;
    --unit-half: 0.5rem;
    --unit-quarter: 0.25rem;
    --unit-eight: 0.125rem;
    --unit-sixteenth: 0,0625rem;

    --unit-2: 0.5rem;
    --unit-4: 0.25rem;
    --unit-8: 0.125rem;
    --unit-16: 0.0625rem;


}